.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh;  */
    background-color: #f3f3f3; /* Optional background */
  }
  
  .loader-image {
    width: 550px; /* Adjust as needed */
    height: 550px;
    animation: blur-blink 2s infinite;
  }
  
  @keyframes blur-blink {
    0%, 100% {
      opacity: 1;
      filter: blur(0);
    }
    50% {
      opacity: 0.5;
      filter: blur(4px);
    }
  }
  